<div class="container-fluid">
  <h1>Posts</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="post">
        <div class="post-image">
        </div>
        <div class="post-footer">
          <i class="fa fa-heart-o " aria-hidden="true"></i>
          <p class="post-likes">436</p>
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
        </div>
        <div class="post-text">
          <h1>Title</h1>
          <p><%=Faker::Lorem.paragraph(12)%></p>
          <a href="#">author</a>
          <p>date</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 most-liked">
      <h1>Most liked</h1>
      <p><%=Faker::Lorem.paragraph(12)%></p>
    </div>
  </div>
 <% 2.times do %>
 <div class="row">
   <% 3.times do %>
   <div class="col-md-4">
     <div class="post">
       <div class="post-image">
       </div>
       <div class="post-footer">
         <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
         <p class="post-likes">436</p>
         <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
       </div>
       <div class="post-text">
         <h1>Title</h1>
         <p><%=Faker::Lorem.paragraph(12)%></p>
         <a href="#">author</a>
         <p>date</p>
       </div>
     </div>
   </div>
   <%end%>
 </div>
 <% end%>
</div>
