<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1>Post Title</h1>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<div class="post-image">
</div>

<div class="container">
  <div class="post-text">
    <p><%= Faker::Lorem.paragraph(12)%></p>
    <p class="text-right">date</p>
    <div class="row">
      <div class="col-xs-2">
        <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-xs-2">
        <h4 class="post-likes">436</h4>
      </div>
      <div class="col-xs-8">
        <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
      </div>
    </div>
    <p>Post category</p>
  </div>
  <div class="row"> <%#author comment%>
    <div class="col-xs-3 author-image">
      <img class="img-responsive" src="" alt="">
    </div>
    <div class="col-xs-9">
      <a href=""><h4>User author</h4></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </div>
  </div>
</div>
