<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- the following button will be used to open
      up the nav menu on smaller screens -->

      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-random"></span>
      </a>
    </div>

    <!-- order of classes in class attribute does not
    matter -->
    <!-- the id below is used by the navbar-toggle button above to
    determine which elements should be toggle by the button -->
    <%#<div class="navbar-collapse collapse" id="nav-collapsible-section">
      <ul class="nav navbar-nav">
      </ul>
    </div>%>
  </div>
</nav>
