
nav{
  position: fixed;
}
.post-image{
  width: 100%;
  height: 250px;
  border: 1px solid black;
}
.post-footer{
  display: flex;
  justify-content: space-between;
}
.post-text{
  text-align: justify;
}
main{
  margin-top: 80px;
}
.footer-social{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.footer-social > i{
  padding-left: 10px;
  padding-right: 10px;
}
.author-image > img{
  width: 100%;
  border: 1px solid black;
  height: 100px;
}
/*@media (max-width: 600px) {
  .most-liked{
    display:none;
  }
}*/
